/* html, body {
    cursor: url('images/mallet.svg'), default;
} */

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    transition: all .3s;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

h1, h2, h3, button {
    margin: 0;
    font-family: 'League Spartan';
}

#game_board {
    height: 100vh;
    width: 100vw;
    position: relative;
}

#game_board h1 {
    color: #4F5468
}

#game_board h2 {
    color: #696a72
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    padding: 24px;
    background-color: #8B5E3C;
    border-radius: 10px;
}

.wam_square {
    height: 200px;
    width: 200px;
    position: relative;
    overflow: hidden;
}

.wam_square img {
    position: absolute;
    height: 200px;
    width: 200px;
}

.foreground {
    z-index: 50;
}

.mole {
    z-index: 45;
    cursor: pointer;
}

.mole--shown {
    transform: translateY(0)
}

.mole--hidden {
    transform: translateY(120px)
}

.background {
    z-index: 40;
}


#game_over {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.25);
    z-index: 100;
}

#game_over div {
    background-color: white;
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 24px;
    border-radius: 10px;
}

#game_over h2 {
    font-size: 48px;
    color: #4F5468;
}

#game_over h3 {
    font-size: 24px;
    color: #696a72;
}

#restart_btn {
    padding: 24px;
    border: none;
    background-color: #4F5468;
    border-radius: 10px;
    color: white;
    font-size: 24px;
}
